/.vs
/projectServer/bin/Debug
/projectServer/obj
/projectServer/bin/Release
/projectServer/uploads
/*.bak
/projectServer/Migrations/
/projectServer/appsettings.Production.json
/projectServer/.env
/.env
