[submodule "Image-scoring-model-for-project"]
	path = Image-scoring-model-for-project
	url = https://github.com/dor97/Image-scoring-model-for-project.git
	branch = main
[submodule "Scoring-Server-Front"]
	path = Scoring-Server-Front
	url = https://github.com/dor97/Scoring-Server-Front.git
	branch = main